<ion-view view-title="Tambah Lahan">
  <ion-content>
    <h1>Tambah Lahan</h1>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Nama Lahan" ng-model="data.nama">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Ketinggian Lahan" ng-model="data.tinggi">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Suhu Lahan" ng-model="data.suhu">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Curah Hujan Lahan" ng-model="data.hujan">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Jumlah Bulan Kering" ng-model="data.bulan">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="pH Lahan" ng-model="data.ph">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Kandungan BO Lahan" ng-model="data.bo">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Kedalaman Efektif" ng-model="data.kedalaman">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Kemiringan Lahan" ng-model="data.kemiringan">
      </label>
    </div>
    <button class="button button-block button-balanced" ng-click="tambahLahan()">Simpan</button>
  </ion-content>
</ion-view>
